{
    "extends": "eslint:recommended",
    "parserOptions": {
        "ecmaVersion": "latest",
        "sourceType": "module"
    },
    "env": {
        "node": false,
        "es6": true,
        "serviceworker": true
    },
    "rules": {
        "no-unused-vars": "warn"
    }
}
